
.header {
	padding: 0;
	box-shadow: @shadow-2;
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 72px;
	z-index: 9;
	align-items: center;
	background-color: white !important;
  padding: 0 10px !important; 
	box-shadow: 0 1px 3px rgba(35, 35, 35, 0.29);
}

.container {
  padding:  10px 25px;
  background-color: white;
}

.trigger{
  font-size: 20px !important;
}

.logo {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  color: white;
  /*background-color: rgba(93, 100, 124, 0.49);*/
}

.logo img {
  width: 35px;
}

.logo span {
  font-size: 17px;
  padding: 0 13px;
  font-weight: bold;
  font-family: cursive;
}


.rightContainer {
    display: flex;
    align-items: center;
    background: transparent;
}

.user-profile {
	background: transparent !important;
    border: 0 !important;
    color: white !important;
}

.navbar {
	border: 0 !important;
	background: transparent !important;
	margin-bottom:28px !important;
}

.navbar li,
.navbar li:hover {
	border: 0 !important;
  	margin: 0 10px;
  	line-height: 20px !important;
  	padding: 8px 30px;
}

.navbar .ant-menu-item-selected,
.navbar .ant-menu-item-selected:hover {
    border-radius: 5px;
    background-color: #ffffffe3 !important;
}

.navbar .ant-menu-item-selected a{
   color: #193764 !important;
}

.navbar li a {
	color: white !important;
	font-weight: bold;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(0,0,0,0.3);
  min-height: 50px;
}

.submit-row {
    position: absolute !important;
    z-index: 100;
    top: 0px;
    width:97%;
    left: 10px;
}

.submit-row:hover .ant-col{
  background-color: rgba(96, 99, 102, 0.92);
}

.toggle-view .ant-btn {
  width: 50px;
}

.submit-col .ant-col {
  padding: 7px 10px;
  background-color: rgba(24, 144, 255, 0.2);
  border-radius: 5px;
}


@media(max-width: 767px){
  .barsMenu{
    display: inline-block !important;
  }
  .navbar,.user-profile{
    display: none;
  }
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }
}