body {
	background-color: #f0f2f5 !important;
}

.login-box {
	position: absolute;
    top: 45%;
    left: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    height: 320px;
    padding: 36px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
}

.login-form-button {
	width: 100%;
}

