.query-menu .ant-menu-item-selected {
  background-color: #eeeeee !important; 
}

.query-menu i {
  margin-right: 0 !important;
}

.query-menu li {
  height: 100% !important;
}

.query-buttons {
  width: 100px;
}

.query-title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8c5454;
  font-size: 14px;
}

.scroll {
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 2px;
	border: 1px solid #c6c6c6;
}

.ant-switch {
	background-color: #1890ffeb !important; 
}